<ion-header>
  <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-menu">
                    <ion-icon name="menu"></ion-icon>  
              </ion-col>
              <ion-col size="6" class="middle-ttl">
                <h2>Order Details</h2>
              </ion-col>
              <ion-col size="4" class="right-icon">
                <ion-icon name="sync-outline"></ion-icon>
                <ion-icon name="share-social-outline"></ion-icon>
                    
              </ion-col>
          </ion-row>
     </ion-grid>   
</ion-header>
<ion-content>
  <div class="tab-row">
      <ion-grid>
          <ion-row>
              <ion-col size="4" class="fst-tab tab-active">
                    <a href="#">Order</a>
              </ion-col>
              <ion-col size="4" class="fst-tab">
                <a href="#">Dispatch</a>
              </ion-col>
              <ion-col size="4" class="fst-tab">
                <a href="#">Activity</a>
              </ion-col>
          </ion-row>
     </ion-grid> 
  </div>
  <div class="tab-rw-bdy">
    <ion-grid>
          <ion-row class="dispatch-row-1">
              <ion-col size="12">
                <div class="dispatch-row-1-inner">
                <p>Order No.</p>
                <h5>#2059</h5>
              </div>
              </ion-col>
               <ion-col size="12">
                <div class="dispatch-row-1-inner">
                <p>Order Date</p>
                <h5>10/09/2022</h5>
              </div>
              </ion-col>

            </ion-row>
            <ion-row class="gray-row-2">
              <ion-col size="12" >
                   <p>Product Details </p>
                   
              </ion-col>
                        
          </ion-row>
          <ion-row class="white-row-2">
              <ion-grid class="prduct-grid">
          <ion-row class="prod-row">
              <ion-col size="2" class="product-img">
                    <div class="prod-img-helder">
                      <img src="/assets/images/product-Image.png">
                    </div>
              </ion-col>
              <ion-col size="10">
                <div class="product-content">
                <h4>[NR-171.C.M] ELASTIC 4 WAY KNEE SUPPORT 9” CREAM - M</h4>
                <small>12 PAIR X ₹350.00</small>
                  </div>
                <div class="prod-price-right-top">
                  <p>(55.00%)</p>
                </div>
                <div class="prod-price-right-btm">
                  <p>₹ 00.00</p>
                  <small>Incl. 12% Tax</small>
                </div>
              </ion-col>
              
          </ion-row>
           <ion-row class="prod-row">
              <ion-col size="2" class="product-img">
                    <div class="prod-img-helder">
                      <img src="/assets/images/product-Image.png">
                    </div>
              </ion-col>
              <ion-col size="10">
                <div class="product-content">
                <h4>[NR-171.C.M] ELASTIC 4 WAY KNEE SUPPORT 9” CREAM - M</h4>
                <small>12 PAIR X ₹350.00</small>
                  </div>
                <div class="prod-price-right-top">
                  <p>(55.00%)</p>
                </div>
                <div class="prod-price-right-btm">
                  <p>₹ 00.00</p>
                  <small>Incl. 12% Tax</small>
                </div>
              </ion-col>
              
          </ion-row>
          <ion-row class="prod-total-row">
              <ion-col size="12">
                    <small>IGST (5%) ₹189.00</small>
                    <h3>Total Amount: ₹3969.00</h3>
                    <p>Total PAIR: 24 (2 items)</p>
              </ion-col>

          </ion-row>
      
     </ion-grid> 
            </ion-row>
     </ion-grid> 
  </div>
  </ion-content>