ion-col.left-menu ion-icon {
    color: blue;
    font-size: 39px;
    margin-top: 10px;
}
ion-col.middle-ttl h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #0A1F44;
    margin-bottom: 0;
}
ion-col.right-icon ion-icon {
    color: blue;
    text-align: right;
    float: right;
    font-size: 35px;
    margin-top: 11px;
    margin-left: 20px;
}
.fst-tab.tab-active a {
    background: #fff;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    color: blue !important;
    font-family: 'Poppins';
}
.tab-row {
   background: #EDEDED;
    margin: 20px 10px;
    padding: 5px;
    border-radius: 5px;
}

ion-col.fst-tab a {
    color: #333;
    text-decoration: none;
}
ion-col.fst-tab {
    background: #EDEDED;
    text-align: center;
}
.prduct-grid {
    margin-top: 20px;
}
.product-img{}
.prod-img-helder{
    background: #D9D9D9;
    height:65px;
    width:60px;
}
.prod-img-helder img{
    height:65px;
    width:60px;
}
.product-content{
    width: 80%;
    text-align: left;
}
.prod-form-left {
    width: 60%;
    float: left;
}
.prod-price-right-top {
    position: absolute;
    top: -10px;
    right: 19px;
}
ion-row.prod-total-row small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #464646;
    width: 100% !important;
    float: right;
    margin-top: 10px;
}
ion-row.prod-total-row h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #2B63FF;
}
ion-row.prod-total-row p {
font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #464646;
    text-align: left;
}
.product-content h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
margin: 0 5px !important;
color: #000000;
}
.prod-price-right-btm {
    position: absolute;
    right: 17px;
    bottom: 10px;
}
.prod-price-right-btm p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 5px;
    text-align: right;
    color: #2B63FF;
    margin: 0;
}
.prod-price-right-btm small{
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    text-align: right;
    color: #000000;
    float: right;
    margin-top: 7px;
}
ion-row.dispatch-row-1 {
    background: #fff;
    margin: 0 10px;
}
ion-row.white-row-2 {
    margin: 0 10px;
}
.dispatch-row-1-inner h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #2B63FF;
    margin-top: 0;
    margin-bottom: 5px;
}

.dispatch-row-1-inner p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #0A1F44;
    margin-bottom: 5px;
    margin-top: 0;
}
.dispatch-row-1-inner {
    margin: 0 5px;
    border-bottom: 1px solid #e2e1e1;
}
ion-content {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
}
.gray-row-1 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #464646;
}
.gray-row-1 p span{
color: #06A700;
}
.white-row-1{
    background:#fff;
}
.tab-rw-bdy ion-grid {
    padding: 0 !important;
}
ion-row.gray-row-2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0B0A11;
    padding: 0 10px;
}

ion-row.gray-row-2 {
    background: #d9d9d9;
}
@media (prefers-color-scheme: dark){
    ion-checkbox.right-check {
    position: absolute;
    right: 0;
    --background: #fff !important;
    border: 1px solid blue !important;
    padding: 5px !important;
    height: 25px;
    width: 25px;
}
.activity-section.even{
    background:#ECF1FF !important;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
    border-radius: 10px;
    margin: 20px 8px !important;
    padding: 0;
  
    }
    ion-list.activity-list-1st-rw.ios.list-ios.hydrated {
    background: #fff;
}
ion-list.ios.list-ios.hydrated {
    background: #fff;
}
ion-col.fst-tab.tab-active.ios.hydrated a {
    padding: 10px 15px;
}
}