<ion-header>
  <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-menu">
                    <ion-icon name="chevron-back"></ion-icon>
              </ion-col>
              <ion-col size="10" class="middle-ttl">
                <h2>Change Password</h2>
              </ion-col>
              
          </ion-row>
     </ion-grid>   
</ion-header>

<ion-content>

<div class="login-text-rw">
    <ion-list>
  <ion-item lines="none">
  <ion-label>Your e-mail</ion-label>
  <ion-input type="text" class="form-ctrl" placeholder="john.doe@gmail.com"></ion-input>
  <span class="form-icon"><ion-icon name="mail-outline"></ion-icon></span>
</ion-item>
<ion-item lines="none">
  <ion-label>Old Password</ion-label>
  <ion-input type="password" class="form-ctrl" placeholder="******"></ion-input>
  <span class="form-icon"><ion-icon name="eye-outline"></ion-icon></span>
</ion-item>
<ion-item lines="none">
  <ion-label>New Password</ion-label>
  <ion-input type="password" class="form-ctrl" placeholder="*****"></ion-input>
  <span class="form-icon"><ion-icon name="eye-outline"></ion-icon></span>
</ion-item>
<ion-item lines="none">
  <ion-label>Confirm Password</ion-label>
  <ion-input type="password" class="form-ctrl" placeholder="*****"></ion-input>
  <span class="form-icon"><ion-icon name="eye-outline"></ion-icon></span>
</ion-item>
</ion-list>
    <ion-button class="custom-btn">SAVE</ion-button>
  </div>

</ion-content>
