<ion-header>
  <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-menu">
                    <ion-icon name="chevron-back"></ion-icon>
              </ion-col>
              <ion-col size="8" class="middle-ttl">
                <h2>Contact Us</h2>
              </ion-col>
              <ion-col size="2" class="right-icon">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-col>
          </ion-row>
     </ion-grid>   
</ion-header>
<ion-content>
  <div class="login-logo-rw">
<img src="/assets/images/logo.png">
<h3>NEBULA <br>GROUP OF COMPANIES</h3>
</div>
<div class="cotact-details">
  <ion-grid>
          <ion-row>
              <ion-col size="12" class="contact-address">
                    <img src="/assets/images/location-2.png">
                    <p>Narmada Park-3, Vidhyakunj Society Main Road, 
Rajkot - 360001, Gujarat.</p>
              </ion-col>
              <ion-col size="12" class="contact-number">
                <img src="/assets/images/call-2.png">
                <a href="#">(+91) 98796 19474 </a>
              </ion-col>
              <ion-col size="12" class="contact-email">
                    <img src="/assets/images/mail.png">
                    <a href="#">info@nebulasurgical.com</a>
              </ion-col>
          </ion-row>
     </ion-grid> 
  </div>
  </ion-content>