ion-col.left-menu ion-icon {
    color: blue;
    font-size: 39px;
    margin-top: 10px;
}
ion-col.middle-ttl h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #0A1F44;
    margin-bottom: 0;
}
ion-col.right-icon ion-icon {
    color: blue;
    text-align: right;
    float: right;
    font-size: 35px;
    margin-top: 11px;
}


.tab-rw-bdy {
    background: #EDEDED;
    margin-top: 18px;
}
.user-details-row h2{
font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #383E40;
    margin: 20px;
}
.user-details-row-inner{
    background: #EDEDED;
    border-radius: 10px;
    width: 95%;
    display: flex;
    margin: auto;
}
ion-item.custom-col-img{
    width:20% !important;
   --background: transparent !important;
   --padding-start: 0px !important; 
    --inner-padding-end: 0px !important;
    text-align: center !important;
    margin: auto !important;
}
ion-item.custom-col-img img{
    text-align: center !important;
    margin: auto !important;
}
.user-details-row-inner ion-list{
    width: 100% !important;
    display: flex !important;
    background: transparent !important;
}
.start-btn ion-button{
        font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 33px !important;
    color: #FFFFFF !important;
    --background: linear-gradient(180deg, #008DD2 0%, #2B63FF 100%) !important;
    filter: drop-shadow(0px 16px 16px rgba(10, 22, 70, 0.102)) !important;
    --border-radius: 30px !important;
    /* padding: 22px; */
    height: 50px;
    margin-top: 0;
    width: 100%;
}
.timer-col p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    color: #464646;
    text-align: right;
    margin: 0 !important;
    vertical-align: middle;
}
ion-content {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
}
.gray-row-1 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #464646;
}
.gray-row-1 p span{
color: #06A700;
}
.white-row-1{
    background:#fff;
}
.tab-rw-bdy ion-grid {
    padding: 0 !important;
}
.segm{
background: #fff;
        background: #fff;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.071));
    text-align: center;
    padding: 20px 5px 5px;
    border-radius: 10px;
    margin: 10px 1px;
}
.segm img{
    width:30px;
    height:30px;
}
.segm p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    color: rgba(116, 116, 127, 0.5);
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.segm h5{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #74747F;
    margin-top: 0;
}
.gray-row-2 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #0B0A11;
text-align: center;
}
.white-row-2{
    background:#fff;
    text-align:center;
}
.history-text p{
    font-family: 'Poppins';
font-style: normal !important;
font-weight: 400;
font-size: 13px !important;
line-height: 20px !important;
color: #0A1F44 !important;
margin-bottom: 0;
}
.white-row-2 p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #8A94A6;
}
.history-text p span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #8A94A6;
}
.history-text small{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
color: #8A94A6;
}
.white-row-2 small strong{
    color: #8A94A6;
}
.history-text {
    border-bottom: 1px solid #d7d6d6;
    padding: 0 0 10px;
    text-align: left;
    margin: auto 10px;
}
ion-row.prod-row {
    border-bottom: 1px solid #f3f3f3;
    position: relative;
}
.prduct-grid {
    margin-top: 20px;
}
.product-img{}
.prod-img-helder{
    background: #D9D9D9;
    height:65px;
    width:60px;
}
.prod-img-helder img{
    height:65px;
    width:60px;
}
.product-content{
    width: 80%;
    text-align: left;
}
.prod-form-left {
    width: 60%;
    float: left;
}
.prod-price-right-top {
    position: absolute;
    top: -10px;
    right: 19px;
}
ion-row.prod-total-row small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #464646;
    width: 100% !important;
    float: right;
    margin-top: 10px;
}
ion-row.prod-total-row h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #2B63FF;
}
ion-row.prod-total-row p {
font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #464646;
    text-align: left;
}
.product-content h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
margin: 0 5px !important;
color: #000000;
}
.prod-price-right-btm {
    position: absolute;
    right: 17px;
    bottom: 10px;
}
.prod-price-right-btm p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 5px;
    text-align: right;
    color: #2B63FF;
    margin: 0;
}
.prod-price-right-btm small{
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    text-align: right;
    color: #000000;
    float: right;
    margin-top: 7px;
}
ion-row.dispatch-row-1 {
    background: #fff;
}
.dispatch-row-1-inner h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #2B63FF;
    margin-top: 0;
    margin-bottom: 5px;
}

.dispatch-row-1-inner p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #0A1F44;
    margin-bottom: 5px;
    margin-top: 0;
}
.dispatch-row-1-inner {
    margin: 0 5px;
    border-bottom: 1px solid #e2e1e1;
}
@media (prefers-color-scheme: dark){
    ion-checkbox.right-check {
    position: absolute;
    right: 0;
    --background: #fff !important;
    border: 1px solid blue !important;
    padding: 5px !important;
    height: 25px;
    width: 25px;
}
.activity-section.even{
    background:#ECF1FF !important;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
    border-radius: 10px;
    margin: 20px 8px !important;
    padding: 0;
  
    }
    ion-list.activity-list-1st-rw.ios.list-ios.hydrated {
    background: #fff;
}
ion-list.ios.list-ios.hydrated {
    background: #fff;
}
ion-col.fst-tab.tab-active.ios.hydrated a {
    padding: 10px 15px;
}
}