ion-col.left-menu ion-icon {
    color: blue;
    font-size: 39px;
    margin-top: 10px;
}
ion-col.middle-ttl h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #0A1F44;
    margin-bottom: 0;
}
ion-col.right-icon ion-icon {
    color: blue;
    text-align: right;
    float: right;
    font-size: 35px;
    margin-top: 11px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #8A94A6;
}
ion-col.left-menu ion-icon {
    color: blue;
    font-size: 39px;
    margin-top: 10px;
}
ion-col.middle-ttl h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #0A1F44;
    margin-bottom: 0;
}
ion-col.right-icon ion-icon {
    color: blue;
    text-align: right;
    float: right;
    font-size: 35px;
    margin-top: 11px;
}

.plus-img {
    position: fixed;
    right: 50px;
    z-index: 9999;
    bottom: 100px;
}
.plus-img ion-icon {
    color: blue;
    font-size: 45px;
}