<ion-header>
  <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-menu">
                    <ion-icon name="menu"></ion-icon>  
              </ion-col>
              <ion-col size="5" class="middle-ttl">
                <h2>News</h2>
              </ion-col>
              <ion-col size="5" class="right-icon">
                    
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                    <ion-icon name="search-outline"></ion-icon>
              </ion-col>
          </ion-row>
     </ion-grid>   
</ion-header>

<ion-content>


  <div class="centered">
  <img src="./assets/images/newspaper-1.png">
  <p>No News Found!</p>
</div>
<div class="plus-img">
    <img src="/assets/images/add-customer.png">
  </div>
</ion-content>
