<ion-content>
  <div class="login-logo-rw">
<img src="/assets/images/logo-2.png">
</div>
<div class="login-text-rw">

    <h2>Login into your account</h2>
    <ion-list>
  <ion-item lines="none">
  <ion-label>Your e-mail</ion-label>
  <ion-input type="text" class="form-ctrl" placeholder="john.doe@gmail.com"></ion-input>
  <span class="form-icon"><ion-icon name="mail-outline"></ion-icon></span>
</ion-item>
<ion-item lines="none">
  <ion-label>Password</ion-label>
  <ion-input type="password" class="form-ctrl" placeholder="......."></ion-input>
  <span class="form-icon"><ion-icon name="eye-outline"></ion-icon></span>
</ion-item>
</ion-list>
    <ion-button class="custom-btn">SIGN IN</ion-button>
    <a href="#">Forgot Password?</a>

  </div>

</ion-content>
